.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4f9ff0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 1px rgba(0,0,0,0.4);
    padding: 2px 2px;
    z-index: 2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-option {
    text-align: left;
    padding: 2px;
}

.dropdown-option:hover {
    background-color: #5fbfff;
}
