.entryform-container {
    display: table;
    border: 1px solid black;
    padding: 5px;
}

.entryform-container > .entryform_row {
    display: table-row;
    padding: 5px;
}

.entryform-container > .entryform_row > .entryform_label {
    display: table-cell;
}

.entryform-container > .entryform_row > .entryform_value {
    display: table-cell;
    border: 1px solid black;
}

.entryform-container > .entryform_row > .entryform_value:selected {
    display: table-cell;
    border: 1px solid green;
}
